@charset "utf-8";


html {
    background-color: #DDF;
}


body {
    margin: 1em 10%;
    padding: 0 1em 0.5em 1em;
    background-color: #FFF;
}


h1 {
    font-family: "Eagle Lake", "MigMix 2P", Serif;
    font-size: 3em;
    text-align: center;
}

pre {
    min-width: 800px;
    margin: 1em auto;
    border: solid 1px #999;
}
